extends ../layout

block content
  div.content
    h5 Hey #{username},
    br
    p You can change your password by clicking #[a(href=href("/app/settings/change_password")) here]
    p
      |Thanks,
      br
      i The CurvesConnect.com Team