extends ../layout

block content
  div.content
    h5 Hey #{username},
    br
    p You have #[b #[i #{unreadMessageCount}]] new messages waiting for you!
    p Take a look at your inbox now by clicking #[a(href=href("/app/inbox")) here].
    br
    p 
      strong Hitting reply to this email will NOT send your response to anyone.
      | You must log on to #[a(href=href("/app/inbox")) CurvesConnect.com] to communicate with other members.
    p
      |Thanks,
      br
      i The CurvesConnect.com Team