.curvesconnect {
  .site-name {
    background-image: url(assetPath('curvesconnect/site-name.png'))
  }
  .long-logo {
    background-image: url(assetPath('curvesconnect/long-logo.png'))
  }
  .stacked-logo {
    background-image: url(assetPath('curvesconnect/stacked-logo.png'))
  }
  .long-logo-white {
    background-image: url(assetPath('curvesconnect/long-logo-white.png'))
  }
}
.conectandocurvas {
  .long-logo {
    background-image: url(assetPath('conectandocurvas/long-logo.png'))
  }
  .site-name {
    background-image: url(assetPath('conectandocurvas/site-name.png'))
  }
}

.logo-white {
  background-image: url(assetPath('logo-white.png'))
}
.photo-generic.male img {
  background-image: url(assetPath('generic-male.png'))
}
.photo-generic.female img {
  background-image: url(assetPath('generic-female.png'))
}